.venv
__pycache__
.env
tmp
downloads
# secrets
.venv-*
secrets/*
!secrets/.gitkeep
.DS_Store
.pytest_cache
# This is because we will mount the collector and utils directories into the processor container
data/processor/collector
# This is because we will mount the collector and utils directories into the processor container
workflow/data
wandb
dist
.idea
.claude
chat-history
.env.local

data/*
/data

model/zoning_codes_extract/trained_models/*

# Zoning model training data
model/zoning_codes_extract/training/data/*
model/zoning_codes_extract/training/data_test/*
model/zoning_codes_extract/training/data_full/*